<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Placed</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="container">
    <div id="head">
      <h1 class="brand" ><span>Order </span>Placed </h1>
      <div  id="head2">
       <a href="/cart"> <button id="btn2">
          <i class="fa fa-cart-plus"></i> My Orders
        </button></a>
        <a href="/logout" id="head2"> <button id="btn2">
          <i class="fa fa-sign-out"></i> Logout
        </button></a>
      </div>
      

    </div>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Panda Electronics</h3>
        <ul>
          <li><i class="fa fa-map-marker"></i> 33, Rai Market, Ambala, Haryana 133004</li>
          <li><i class="fa fa-phone"></i> (+91) 9358668593</li><li><i class="fa fa-envelope"></i> ak@gmail.com</li>
          <li><i class="fa fa-shopping-cart"></i> Electronics and appliances</li>
           <li><p class="no-margin"><span>&emsp;-</span>TV's,Video-Audio</p></li>
            <li><p class="no-margin"><span>&emsp;-</span>Kitchen and Other Appliances</p></li>
             <li><p class="no-margin"><span>&emsp;-</span>Camera and Lenses</p></li>
              <li><p class="no-margin"><span>&emsp;-</span>Fridge</p></li>
               <li><p class="no-margin"><span>&emsp;-</span>Mobile Phones</p></li>
                <li><p class="no-margin"><span>&emsp;-</span>AC's</p></li>
                 <li><p class="no-margin"><span>&emsp;-</span>Washing Machine</p></li>
        </ul>
      </div>
      <div class="contact">
        <h3 style="font-weight: 500;font-size:22px"><b style="font-family:cursive" >Congratulations {{firstname}},</b>Your {{vehicle}} is on the way !!</h3>
        <div>
            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:17px">You can track your {{vehicle}} by mentioned below details.(Don't refresh)</p>
            <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:16px;font-weight:700;">Order Id:&emsp;
                <span style="font-family:-webkit-pictograph;">{{id}}</span></p>
                <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:16px;font-weight:700;">Driver name:&emsp; 
                  <span style="font-family:-webkit-pictograph;">{{name}}</span></p>
           
                  <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:16px;font-weight:700;">Driver phone no:&emsp; 
                  <span style="font-family:-webkit-pictograph;">{{phone}}</span></p>
                <p style="text-align: end;font-weight:300;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">{{time}}</p>
        </div>
      </div>
    </div>
  </div>
    
</body>
</html>